# Doxygen生成的文档
/*
# 构建和分发目录
Build
Dist
Deprecated/PythonClient/dist
TrafficManager/build
Util/Build
Install

# 插件目录，排除特定插件
Plugins
!Unreal/CarlaUE4/Plugins/Streetmap
!Unreal/CarlaUE4/Plugins/HoudiniEngine

# 地图和导入目录
/ExportedMaps
/Import/*
!/Import/README.md

# 编译和构建过程中生成的文件
*.VC.db
*.VC.opendb
*.a
*.egg-info
*.kdev4
*.log
*.o
*.pb.cc
*.pb.h
*.pid
*.pri
*.pro
*.py[cod]
*.sln
*.so
*.stackdump
*.sublime-workspace
*.workspace
*CodeCompletionFolders.txt
*CodeLitePreProcessor.txt
.aria2c.input
.codelite
.gdb_history
.gtest
.idea
.tags*
.vs
.vscode
__pycache__
_benchmarks_results
_images*
_out*
_site
core
profiler.csv
*.VC.db
*.VC.opendb
*.a
*.egg-info
*.kdev4
*.log
*.o
*.pb.cc
*.pb.h
*.pid
*.pri
*.pro
*.py[cod]
*.sln
*.so
*.stackdump
*.sublime-workspace
*.workspace
*CodeCompletionFolders.txt
*CodeLitePreProcessor.txt
.aria2c.input
.codelite
.gdb_history
.gtest
.idea
.tags*
.vs
.vscode
__pycache__
_benchmarks_results
_images*
_out*
_site
core
profiler.csv
