[MESSAGES CONTROL]#主要用来设定代码检查的风格规则，比如最大行长度。
max-line-length=120  # 设置代码行的最大长度为120个字符，以确保代码在可读性和整洁性之间达到一个平衡。

[MASTER]#禁止一些特定的警告和错误，以减轻开发过程中的干扰。
disable=I0011,I0013,E1121,E1126  # 禁用特定的警告和错误信息，以减少不必要的干扰。
# I0011: 一般性信息，不影响代码的正确性，通常用于注释或文档。
# I0013: 表示有未使用的导入，这可能在某些情况下是正常的，因此选择禁用。
# E1121: 指示异常使用不当的地方，可能影响代码执行，但在此选择关闭此检查。
# E1126: 表示不必要的注释，选择关闭该检查以避免干扰正常的注释使用。

[TYPECHECK]#列出了在类型检查时应当被忽略的模块，以减少潜在的警告和问题，通常因为这些模块缺乏类型注解。
ignored-modules=carla,carla.command,libcarla,pygame,numpy,configparser,ConfigParser,libad_rss_python2,libad_rss_python3,libad_map_access_python2,libad_map_access_python3,libad_rss_map_integration_python2,libad_rss_map_integration_python3
# 在类型检查时忽略列出的模块，以避免对这些库的类型检查产生错误或警告。
# 这些模块包括一些常见的第三方库（如carla、pygame、numpy）和特定的自定义库，
# 由于这些模块的类型信息可能不完整或不可靠，故选择忽略它们。
